In [1]:
import numpy as np
print(np.__version__)

1.26.4

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

np.random.seed(42)

n_customers = 10000

customers = pd.DataFrame({
    "customer_id": range(1, n_customers + 1),
    "region": np.random.choice(["North", "South", "East", "West"], n_customers),
    "age": np.random.randint(18, 60, n_customers),
    "purchase_frequency": np.random.poisson(5, n_customers),
    "avg_order_value": np.random.normal(2000, 500, n_customers),
    "discount_usage_rate": np.random.uniform(0, 1, n_customers),
    "last_purchase_days": np.random.randint(1, 365, n_customers)
})

customers["total_spend"] = customers["purchase_frequency"] * customers["avg_order_value"]

# Simple churn logic
customers["churn_flag"] = np.where(
    customers["last_purchase_days"] > 200,
    1,
    0
)

customers.to_csv("../data/customers.csv", index=False)

print("Customers dataset created ✅")

Customers dataset created ✅

In [12]:
df=pd.read_csv('../data/customers.csv')
df

,customer_id,region,age,purchase_frequency,avg_order_value,discount_usage_rate,last_purchase_days,total_spend,churn_flag
0,1,East,57,7,1918.270827,0.551000,25,13427.895791,0
1,2,West,24,7,1816.876354,0.140614,327,12718.134477,1
2,3,North,49,2,2461.199375,0.842197,306,4922.398749,1
3,4,East,36,6,2092.406587,0.106890,328,12554.439524,1
4,5,East,23,8,1188.423009,0.094429,36,9507.384074,0
...,...,...,...,...,...,...,...,...,...
9995,9996,West,48,3,2518.487980,0.387981,295,7555.463941,1
9996,9997,East,46,3,2031.038171,0.114810,10,6093.114513,0
9997,9998,South,58,7,1709.794252,0.301143,256,11968.559764,1
9998,9999,South,28,2,1839.757405,0.808163,272,3679.514810,1
9999,10000,North,30,5,2540.764403,0.998440,311,12703.822016,1

In [8]:
n_transactions = 50000

start_date = datetime(2023, 1, 1)

transactions = pd.DataFrame({
    "transaction_id": range(1, n_transactions + 1),
    "customer_id": np.random.choice(customers["customer_id"], n_transactions),
    "product_category": np.random.choice(["Electronics", "Fashion", "Home", "Beauty"], n_transactions),
    "price": np.random.normal(2500, 800, n_transactions),
    "discount": np.random.uniform(0, 0.3, n_transactions),
    "marketing_spend": np.random.uniform(50, 300, n_transactions),
    "quantity": np.random.randint(1, 4, n_transactions),
    "date": [start_date + timedelta(days=int(x)) for x in np.random.randint(0, 730, n_transactions)]
})

transactions["cost"] = transactions["price"] * 0.6
transactions["revenue"] = transactions["price"] * transactions["quantity"] * (1 - transactions["discount"])
transactions["profit"] = transactions["revenue"] - (transactions["cost"] * transactions["quantity"]) - transactions["marketing_spend"]

transactions.to_csv("../data/transactions.csv", index=False)
print("Transactions dataset created ✅")

Transactions dataset created ✅

In [10]:
transactions["month"] = transactions["date"].dt.to_period("M")

monthly_summary = transactions.groupby("month").agg({
    "revenue": "sum",
    "profit": "sum",
    "marketing_spend": "sum",
    "quantity": "sum"
}).reset_index()

monthly_summary["month"] = monthly_summary["month"].astype(str)

monthly_summary.to_csv("../data/monthly_summary.csv", index=False)

print("Monthly summary created ✅")

Monthly summary created ✅